{% extends "blog/base.html" %}
{% load static %}
{% block content %}
    <h1 id="homeh1" data-translation-key="aboutasTitle">
        Executive Committee
    </h1>
<div class="executive-committee">
    <div class="aboutas-container">
        <div class="eleneasanidze">
            <img id="imgforicon1" src="{% static 'blog/images/elenelastpic.jpeg' %}">
        </div>
        <div class="for-text-as">
            <p id="members1name" data-translation-key="executive-committee-elene">
                Elene Asanidze
            </p>
            <p data-translation-key="executive-committee-elene1">
                • President
            </p>
        </div>
    </div>

    <div class="aboutas-container">
        <div class="jenaro">
            <img id="imgforicon1" src="{% static 'blog/images/jenaro.jpeg' %}">
        </div>
        <div class="for-text-as">
            <p id="members1name" data-translation-key="executive-committee-jenaro">
                Jenaro Kristashvili
            </p>
            <p data-translation-key="executive-committee-jenaro1">
                • Head of the Scientific Committee 
            </p>
        </div>
    </div>

    <div class="aboutas-container">
        <div class="levankobladze">
            <img id="imgforicon1" src="{% static 'blog/images/levankobladze.jpeg' %}">
        </div>
        <div class="for-text-as">
            <p id="members1name" data-translation-key="executive-committee-levan">
                Levan Kobaladze
            </p>
            <p data-translation-key="executive-committee-levan1">
                • Head of International Communications
            </p>
        </div>
    </div>

    <div class="aboutas-container">
        <div class="anajibladze">
            <img id="imgforicon1" src="{% static 'blog/images/anajibladze.jpg' %}">
        </div>
        <div class="for-text-as">
            <p id="members1name" data-translation-key="executive-committee-anaji">
                Ana Jibladze
            </p>
            <p data-translation-key="executive-committee-anaji1">
                • Head of Doctoral and Residency Students Membership
            </p>
        </div>
    </div>
    <div class="aboutas-container">
        <div class="aboutas-container-img">
            <img id="imgforicon1" src="{% static 'blog/images/aleksandrebidzia.jpg' %}">
        </div>
        <div class="for-text-as">
            <p id="members1name" data-translation-key="executive-committee-aleksandre">
                Aleksander Asanidze
            </p>
            <p data-translation-key="executive-committee-aleksandre1">
                • Head of Medical Student Membership
            </p>
        </div>
    </div>
    <div class="aboutas-container">
        <div class="davitasanidze">
            <img id="imgforicon1" src="{% static 'blog/images/davit asanidze.jpeg' %}">
        </div>
        <div class="for-text-as">
            <p id="members1name" data-translation-key="executive-committee-david">
                David Asanidze
            </p>
            <p data-translation-key="executive-committee-david1">
                • Head of Information Technology
            </p>
        </div>
    </div>
    <div class="aboutas-container">
        <div class="aboutas-container-img">
            <img id="imgforicon1" src="{% static 'blog/images/newlogo.jpeg' %}">
        </div>
        <div class="for-text-as">
            <p id="members1name" data-translation-key="executive-committee-magda">
                Magda Samkharadze
            </p>
            <p data-translation-key="executive-committee-magda1">
                • Head of Public Relations
            </p>
        </div>
    </div>
</div>
    
<h1 id="homeh1" data-translation-key="boardmemebers">
    Board Members
</h1>

<div class="executive-committee1">
    <div class="aboutas-container">
        <div class="eleneasanidze">
            <img id="imgforicon1" src="{% static 'blog/images/mariam Chipashvili.jpeg' %}">
        </div>
        <div class="for-text-as">
            <p id="members2name" data-translation-key="board-members-mariamchi">
                • Mariam Chipashvili  
            </p>
        </div>
    </div>

    <div class="aboutas-container">
        <div class="eleneasanidze">
            <img id="imgforicon1" src="{% static 'blog/images/shorena Tchiokadze.jpeg' %}">
        </div>
        <div class="for-text-as">
            <p id="members2name" data-translation-key="board-members-shorenatch">
                • Shorena Tchiokadze
            </p>
        </div>
    </div>

    <div class="aboutas-container">
        <div class="ninoparunashvili">
            <img id="imgforicon1" src="{% static 'blog/images/nino parunashvili.jpg' %}">
        </div>
        <div class="for-text-as">
            <p id="members2name" data-translation-key="board-members-ninopa">
                • Nino Parunashvili
            </p>
        </div>
    </div>

    <div class="aboutas-container">
        <div class="mariamkharaishvili">
            <img id="imgforicon1" src="{% static 'blog/images/mariam kharaishvili.jpeg' %}">
        </div>
        <div class="for-text-as">
            <p id="members2name" data-translation-key="board-members-mariamkha">
                • Mariam Kharaishvili
            </p>
        </div>
    </div>

    <div class="aboutas-container">
        <div class="mananaurjumelashvili">
            <img id="imgforicon1" src="{% static 'blog/images/manana urjumelashvili.jpeg' %}">
        </div>
        <div class="for-text-as">
            <p id="members2name" data-translation-key="board-members-mananaurj">
                • Manana Urjumelashvili 
            </p>
        </div>
    </div>

    <div class="aboutas-container">
        <div class="makajorbenadze">
            <img id="imgforicon1" src="{% static 'blog/images/maka jorbenadze.jpeg' %}">
        </div>
        <div class="for-text-as">
            <p id="members2name" data-translation-key="board-members-makajo">
                • Maka Jorbenadze
            </p>
        </div>
    </div>

    <div class="aboutas-container">
        <div class="eleneasanidze">
            <img id="imgforicon1" src="{% static 'blog/images/sofio kvaliashvili.jpeg' %}">
        </div>
        <div class="for-text-as">
            <p id="members2name" data-translation-key="board-members-sophiokva">
                • Sophio Kvaliashvili
            </p>
        </div>
    </div>

    <div class="aboutas-container">
        <div class="eleneasanidze">
            <img id="imgforicon1" src="{% static 'blog/images/davit skhirtladze.jpeg' %}">
        </div>
        <div class="for-text-as">
            <p id="members2name" data-translation-key="board-members-davidskh">
                • David Skhirtladze
            </p>
        </div>
    </div>
</div>
{% endblock content %}
