{% extends "blog/base.html" %}
{% block content %}
    <h1 id="aboutTitle" data-translation-key="aboutTitle">
        About the Georgian Association of Reproductive and Sexual Health
    </h1>
    <div class="about-container">
        <h2 data-translation-key="goalTitle">Goal of the Association:</h2>
        <p data-translation-key="goalText">
            The primary goal of the association is to enhance the reproductive and sexual health of the Georgian population by expanding access to modern, high-quality services.
        </p>

        <h2 data-translation-key="objectivesTitle">Objectives of the Association:</h2>
        <p data-translation-key="objective1">
            • Develop and prepare theoretical and methodological materials by integrating modern international and domestic experiences in evidence-based medicine. This includes the sourcing, translation, adaptation, and publication of materials to ensure their availability to all interested parties.
        </p>
        
        <p data-translation-key="objective2">
            • Facilitate the exchange of experience and knowledge among members, aiming to enhance the skills and qualifications of professionals working in reproductive and sexual health in Georgia. This includes fostering close communication and cooperation with physicians from related specialties.
        </p>

        <p data-translation-key="objective3">
            • Engage in public information and education campaigns to raise awareness about contemporary approaches and services in reproductive and sexual health.
        </p>

        <p data-translation-key="objective4">
            • Organize local and international events such as conferences, trainings, and workshops for medical professionals including doctors, residents, students, and nurses.
        </p>

        <h2 data-translation-key="collaborationsTitle">Collaborations:</h2>
        <p data-translation-key="collaborationsText">
            The association plans to collaborate extensively with local and international organizations and experts through the implementation of joint projects, contributing to the global dialogue on reproductive and sexual health.
        </p>
    </div>

    <footer data-translation-key="footerText">
        The Georgian Association of Reproductive and Sexual Health, established on June 24, 2022, is committed to enhancing reproductive and sexual health services across Georgia through collaborative and innovative efforts.
    </footer>
{% endblock content %}
