{% extends "blog/base.html" %}
{% load static %}
{% block content %}

<div class="newsdiv">
    <h1 data-translation-key="news5Title">
        Participation of the Georgian Reproductive and Sexual Health Association in the FIGO World Congress
    </h1>

    <p data-translation-key="news5Paragraph1">
        From October 9-12, 2024, the XXIV FIGO World Congress of Gynecology and Obstetrics convened in Paris, France, bringing together leading experts, researchers, and healthcare professionals from over 130 countries. As the largest international congress in obstetrics and gynecology, FIGO fosters global collaboration and knowledge exchange to advance women's health.
    <p data-translation-key="news5Paragraph2">
        The Georgian Reproductive and Sexual Health Association was represented by its President, Professor Elene Asanidze, who, in collaboration with Professor Jenaro Kristesashvili, presented a research report titled:🔹 "Contributing Factors for Pregnancy Outcomes in Women with PCOS."

        </p>
    <p data-translation-key="news5Paragraph3">
        The presentation elicited considerable academic interest, sparking discussions that led to the initiation of a collaborative study with American researchers to further investigate this critical area of reproductive medicine.
        FIGO, as the official representative of the World Health Organization (WHO) in gynecology and obstetrics, holds consultative status with the United Nations and unites over 130 national obstetric and gynecological associations. Its congress serves as a key platform for advancing evidence-based practices and global health policies.
        The Georgian Reproductive and Sexual Health Association remains dedicated to scientific innovation, international collaboration, and the continuous advancement of reproductive and sexual healthcare.    </p>  

</div>

<hr>
<hr>

<div class="newsdivimage">
    <img src="{% static 'blog/images/figo1.jpg' %}">
    <img src="{% static 'blog/images/figo2.jpg' %}">
    <img src="{% static 'blog/images/figo3.jpg' %}">
</div>
{% endblock content %}
