{% extends "blog/base.html" %}
{% load static %}
{% block content %}

<div class="newsdiv">
    <h1 data-translation-key="news23Title">
        Conference Highlight
    </h1>

    <p data-translation-key="news23Paragraph1">
    On May 9–12, 2025, the 34th United Multidisciplinary Scientific Conference, "International Standards of Clinical Practice," organized by the Association of Medical Education and Evidence-Based Medicine, was held.
<br><br>🧑‍⚕️ We are proud to share that Dr. Ia Chapidze, a radiologist, PhD candidate at Tbilisi State University (TSU), and a member of the Georgian Association of Reproductive and Sexual Health, delivered a lecture during the conference.
<br><br>📊 Dr. Chapidze presented the findings of her research titled:
<br><br>"The Role of 3D Ultrasonography in the Diagnosis of Müllerian Anomalies in Women with Reproductive Disorders."
<br><br>💬 The presentation sparked strong interest among participants and was highly appreciated for both the relevance of the topic and its practical clinical value.
    </p>
</div>

<hr>
<hr>

{% endblock %}