{% extends "blog/base.html" %}
{% load static %}
{% block content %}

    <div class="news-container" onclick="window.location.href=`{% url 'news37' %}`;" style="cursor: pointer;">
        <a href="{% url 'news37' %}">
            <img src="{% static 'blog/images/garsh-at-the-20th-world-congress-of-the-academy-of-human-reproduction-from-september-1821-2025-for-the-first-time-in-georgia-tbilisi-proudly-hosted-the-20th-world-congress-of-the-academy-of-human-reproduction_conf2pic.jpeg' %}" class="news-image">
        </a>
        <div>
            <h1 class="news-title" data-translation-key="news37Title">
                🌍🎉 GARSH at the 20th World Congress of the Academy of Human Reproduction  🌍From September 18–21, 2025, for the first time in Georgia, Tbilisi proudly hosted the 20th World Congress of the Academy of Human Reproduction.
            </h1>
            <p class="news-text" data-translation-key="homeNews37Paragraph">
                🌍🎉 GARSH at the 20th World Congress of the Academy of Human Reproduction
 🌍From September 18–21, 2025, for the first time in Georgia, Tbilisi proudly hosted the 20th World Congress of the Academy of ...
            </p>
        </div>
    </div>

<div class="news-container" onclick="window.location.href=`{% url 'news36' %}`;" style="cursor: pointer;">
        <a href="{% url 'news36' %}">
            <img src="{% static 'blog/images/the-georgian-association-of-reproductive-and-sexual-health-held-a-continuing-medical-education-cme-training-on-july-4-5_conf1pic.jpg' %}" class="news-image">
        </a>
        <div>
            <h1 class="news-title" data-translation-key="news36Title">
                The Georgian Association of Reproductive and Sexual Health held a Continuing Medical Education (CME) training on July 4-5
            </h1>
            <p class="news-text" data-translation-key="homeNews36Paragraph">
                The Georgian Association of Reproductive and Sexual Health held a Continuing Medical Education (CME) training on July 4-5, 2025, on the topic:
"Modern Principles for the Management of Estrogen Defici...
            </p>
        </div>
    </div>

<div class="news-container" onclick="window.location.href=`{% url 'news35' %}`;" style="cursor: pointer;">
        <a href="{% url 'news35' %}">
            <img src="{% static 'blog/images/georgian-delegation-participates-in-fidia-academy-workshop-on-hidden-challenges-in-gynecology_postpost12.jpeg' %}" class="news-image">
        </a>
        <div>
            <h1 class="news-title" data-translation-key="news35Title">
                🌍 Georgian Delegation Participates in Fidia Academy Workshop on Hidden Challenges in Gynecology
            </h1>
            <p class="news-text" data-translation-key="homeNews35Paragraph">
                🌍Organized by Fidia Academy, a workshop titled “Fidia Academy: Her Journey, Her Voice: Overcoming the Hidden Challenges in Gynecology” was held at the Fidia headquarters in Abano Terme, Italy.
🎓The e...
            </p>
        </div>
    </div>`

<div class="news-container" onclick="window.location.href=`{% url 'news34' %}`;" style="cursor: pointer;">
        <a href="{% url 'news34' %}">
            <img src="{% static 'blog/images/ekaterine-chikhashvili-earns-doctor-of-medicine-degree_maineka.jpg' %}" class="news-image">
        </a>
        <div>
            <h1 class="news-title" data-translation-key="news34Title">
                Ekaterine Chikhashvili Earns Doctor of Medicine Degree
            </h1>
            <p class="news-text" data-translation-key="homeNews34Paragraph">
                On July 18, 2025, at the Faculty of Medicine of Ivane Javakhishvili Tbilisi State University, Ekaterine Chikhashvili successfully defended her dissertation on the topic:
Effectiveness of Combined Sur...
            </p>
        </div>
    </div>

    <div class="news-container" onclick="window.location.href=`{% url 'news25' %}`;" style="cursor: pointer;">
        <a href="{% url 'news25' %}">
            <img src="{% static 'blog/images/elenerustavi.jpg' %}" class="news-image">
        </a>
        <div>
            <h1 class="news-title" data-translation-key="news25Title">
            </h1>
            <p class="news-text" data-translation-key="homeNews25Paragraph">
            </p>
        </div>
    </div>

    <div class="news-container" onclick="window.location.href=`{% url 'news24' %}`;" style="cursor: pointer;">
        <a href="{% url 'news24' %}">
            <img src="{% static 'blog/images/xatunasuxadze.jpg' %}" class="news-image">
        </a>
        <div>
            <h1 class="news-title" data-translation-key="news23Title">
                Conference Highlight
            </h1>
            <p class="news-text" data-translation-key="homeNews23Paragraph">
                On May 9–12, 2025, the 34th United Multidisciplinary Scientific Conference, "International Standards of Clinical Practice," organized by the Association of Medical Education and Evidence-Based Medicine, was held.
            </p>
        </div>
    </div>

    <div class="news-container" onclick="window.location.href=`{% url 'news23' %}`;" style="cursor: pointer;">
        <a href="{% url 'news23' %}">
            <img src="{% static 'blog/images/ia chapidze.jpeg' %}" class="news-image">
        </a>
        <div>
            <h1 class="news-title" data-translation-key="news23Title">
                Conference Highlight
            </h1>
            <p class="news-text" data-translation-key="homeNews23Paragraph">
                On May 9–12, 2025, the 34th United Multidisciplinary Scientific Conference, "International Standards of Clinical Practice," organized by the Association of Medical Education and Evidence-Based Medicine, was held.
            </p>
        </div>
    </div>

    <div class="news-container" onclick="window.location.href=`{% url 'news22' %}`;" style="cursor: pointer;">
        <a href="{% url 'news22' %}">
            <img src="{% static 'blog/images/news22main.jpg' %}" class="news-image">
        </a>
        <div>
            <h1 class="news-title" data-translation-key="news22Title">
                On April 25, a scientific conference was held on the topic: Latest Recommendations for the Management of Premature Ovarian Insufficiency (POI).
            </h1>
            <p class="news-text" data-translation-key="homeNews22Paragraph">
                The event featured a key lecture by Professor Elene Asanidze, who delivered a comprehensive overview of the newly updated international guidelines for the diagnosis and management of POI.
            </p>
        </div>
    </div>

    <div class="news-container" onclick="window.location.href=`{% url 'news21' %}`;" style="cursor: pointer;">
        <a href="{% url 'news21' %}">
            <img src="{% static 'blog/images/fisgenews21.jpg' %}" class="news-image">
        </a>
        <div>
            <h1 class="news-title" data-translation-key="news21Title">
                We are proud to share a significant achievement for the Georgian Association of Reproductive  and Sexual Health!
            </h1>
            <p class="news-text" data-translation-key="homeNews21Paragraph">
                Thanks to the active academic involvement, scientific contributions, and clinical work of our members, our association is now officially on its way to becoming a member of the International Federation of the Societies of Gynecological Endocrinology (FISGE).
            </p>
        </div>
    </div>

    <div class="news-container" onclick="window.location.href=`{% url 'news20' %}`;" style="cursor: pointer;">
        <a href="{% url 'news20' %}">
            <img src="{% static 'blog/images/latestcongress.jpeg' %}" class="news-image">
        </a>
        <div>
            <h1 class="news-title" data-translation-key="homeNews20Title">
                Georgian Reproductive and Sexual Health Association on the World Stage! 🌍
            </h1>
            <p class="news-text" data-translation-key="homeNews20Paragraph">
                The 16th Congress of the European Society of Gynecology was held in Riga, Latvia, from March 19–22, 2025, bringing together global experts in gynecology and reproductive health.
            </p>

        </div>
    </div>

    <div class="news-container" onclick="window.location.href=`{% url 'news19' %}`;" style="cursor: pointer;">
        <a href="{% url 'news19' %}">
            <img id="davitaijo" src="{% static 'blog/images/daviti.jpeg' %}" class="news-image">
        </a>
        <div>
            <h1 class="news-title" data-translation-key="homeNews19Title">
                Dr. David Skhirtladze Earns Doctor of Medicine Degree
            </h1>
            <p class="news-text" data-translation-key="homeNews19Paragraph">
                On December 19, 2024, Dr. David Skhirtladze was awarded the degree of Doctor of Medicine by the Faculty of Medicine at Ivane Javakhishvili Tbilisi State University. His dissertation, "Efficacy of Combined Surgical and Hormonal Therapy for Infertile Patients with Deep Endometriosis," was supervised by Professors Jenaro Kristesashvili and Ramaz Charekishvili.            </p>

        </div>
    </div>

    <div class="news-container" onclick="window.location.href=`{% url 'news1' %}`;" style="cursor: pointer;">
        <a href="{% url 'news1' %}">
            <img src="{% static 'blog/images/aleksandre.jpeg' %}" class="news-image">
        </a>
        <div>
            <h1 class="news-title" data-translation-key="homeNews1Title">
                Participation of the Georgian Reproductive and Sexual Health Association in the Theoretical-Practical Conference of Students
            </h1>
            <p class="news-text" data-translation-key="homeNews1Paragraph">
                On December 13, 2024, the Theoretical-Practical Conference of Students was held at Geomed University, bringing together students from diverse academic disciplines, including medicine, dentistry, rehabilitation, and management. The conference provided a platform for scholarly exchange, allowing participants to present their research findings, engage in critical discussions, and contribute to an interactive academic environment.
            </p>
        </div>
    </div>
    
    <div class="news-container" onclick="window.location.href=`{% url 'news2' %}`;" style="cursor: pointer;">
        <a href="{% url 'news2' %}">
            <img src="{% static 'blog/images/elene1.jpeg' %}" class="news-image">
        </a>
        <div>
            <h1 class="news-title" data-translation-key="homeNews2Title">
                Participation of the Georgian Reproductive and Sexual Health Association in the 32nd World Congress on Controversies in Obstetrics, Gynecology, and Infertility 
                       </h1>
            <p class="news-text" data-translation-key="homeNews2Paragraph">
                From November 21 to 23, 2024, the 32nd World Congress on Controversies in Obstetrics, Gynecology, and Infertility (COGI) was held in Lisbon, Portugal, bringing together leading experts from around the world to discuss the latest advancements and challenges in the field.
            </p>
        </div>
    </div>

    <div class="news-container" onclick="window.location.href=`{% url 'news3' %}`;" style="cursor: pointer;">
        <a href="{% url 'news3' %}">
            <img id="news3homepic" src="{% static 'blog/images/news3.jpg' %}" class="news-image">
        </a>
        <div>
            <h1 class="news-title" data-translation-key="homeNews3Title">
                Manuscript Published by Members of the Georgian Reproductive and Sexual Health Association in an Esteemed Elsevier Journal
            </h1>
            <p class="news-text" data-translation-key="homeNews3Paragraph">
                The Georgian Reproductive and Sexual Health Association is pleased to announce the publication of a highly significant research article in a prestigious Elsevier journal, co-authored by distinguished members of the Association:
        </div>
    </div>
    
    <div class="news-container" onclick="window.location.href=`{% url 'news4' %}`;" style="cursor: pointer;">
        <a href="{% url 'news4' %}">
            <img src="{% static 'blog/images/journal.jpg' %}" class="news-image">
        </a>
        <div>
            <h1 class="news-title" data-translation-key="homeNews4Title">
                Scientific Paper Co-Authored by Members of the Georgian Reproductive and Sexual Health Association Published in a High-Impact Journal
            </h1>
            <p class="news-text" data-translation-key="homeNews4Paragraph">
                The Georgian Reproductive and Sexual Health Association proudly announces another significant achievement— the publication of a scientific article in a highly esteemed British journal. The article, titled "Complexities of Complete Androgen Insensitivity Syndrome: </div>
    </div>

    <div class="news-container" onclick="window.location.href=`{% url 'news5' %}`;" style="cursor: pointer;">
        <a href="{% url 'news5' %}">
            <img src="{% static 'blog/images/figo.jpg' %}" class="news-image">
        </a>
        <div>
            <h1 class="news-title" data-translation-key="homeNews5Title">
                Participation of the Georgian Reproductive and Sexual Health Association in the FIGO World Congress
            </h1>
            <p class="news-text" data-translation-key="homeNews5Paragraph">
                From October 9-12, 2024, the XXIV FIGO World Congress of Gynecology and Obstetrics convened in Paris, France, bringing together leading experts, researchers, and healthcare professionals from over 130 countries. As the largest international congress in obstetrics and gynecology, FIGO fosters global collaboration and knowledge exchange to advance women's health.
         </div>
    </div>

    <div class="news-container" onclick="window.location.href=`{% url 'news6' %}`;" style="cursor: pointer;">
        <a href="{% url 'news6' %}">
            <img src="{% static 'blog/images/sex assignment.jpg' %}" class="news-image">
        </a>
        <div>
            <h1 class="news-title" data-translation-key="homeNews6Title">
                Scientific Paper Co-Authored by Members of the Georgian Reproductive and Sexual Health Association Published in a High-Impact Journal 
            </h1>
            <p class="news-text" data-translation-key="homeNews6Paragraph">
                The Georgian Reproductive and Sexual Health Association is proud to announce the publication of a significant original research article in a high-impact, SCOPUS- and WOS-indexed journal.
                📌 Title of the Article: " Sex assignment and psychosexual peculiarities of individuals with different forms of androgen insensitivity syndrome: A qualitative study "
         </div>
    </div>

    <div class="news-container" onclick="window.location.href=`{% url 'news7' %}`;" style="cursor: pointer;">
        <a href="{% url 'news7' %}">
            <img src="{% static 'blog/images/jenaro.jpg' %}" class="news-image">
        </a>
        <div>
            <h1 class="news-title" data-translation-key="homeNews7Title">
                Georgian Reproductive and Sexual Health Association’s Participation in the 5th International Scientific Conference “Infertility 35+”
            </h1>
            <p class="news-text" data-translation-key="homeNews7Paragraph">
                On September 21-22, 2024, the 5th International Scientific Conference “Infertility 35+” was held in Tbilisi, bringing together experts in reproductive medicine to discuss the latest advancements in infertility research and treatment.
        </div>
    </div>

    <div class="news-container" onclick="window.location.href=`{% url 'news8' %}`;" style="cursor: pointer;">
        <a href="{% url 'news8' %}">
            <img src="{% static 'blog/images/eleneeurapag.jpg' %}" class="news-image">
        </a>
        <div>
            <h1 class="news-title" data-translation-key="homeNews8Title">
                Participation of the Georgian Reproductive and Sexual Health Association in the European Congress of Pediatric and Adolescent Gynecology (EURAPAG)
            </h1>
            <p class="news-text" data-translation-key="homeNews8Paragraph">
                From June 4-8, 2024, the 16th Congress of the European Association of Pediatric and Adolescent Gynecology (EURAPAG) was held in Thessaloniki, Greece, bringing together leading experts, researchers, and clinicians specializing in pediatric and adolescent gynecology, as well as related medical disciplines.
            </p>
        </div>
    </div>

    <div class="body-container">
        <div class="news-container" onclick="window.location.href=`{% url 'news9' %}`;" style="cursor: pointer;">
            <a href="{% url 'news9' %}">
                <img src="{% static 'blog/images/48krypt.jpg' %}" class="news-image">
            </a>
            <div>
                <h1 class="news-title" data-translation-key="homeNews9Title">
                    Publication by the Georgian Reproductive and Sexual Health Association in an International Scientific Journal
                </h1>
                <p class="news-text" data-translation-key="homeNews9Paragraph">
                    The Georgian Reproductive and Sexual Health Association is pleased to announce the publication of a scientific article in the esteemed international journal Gynecological and Reproductive Endocrinology & Metabolism.
                </p>
                </div>
        </div>
    
        <div class="news-container" onclick="window.location.href=`{% url 'news10' %}`;" style="cursor: pointer;">
            <a href="{% url 'news10' %}">
                <img src="{% static 'blog/images/racxa1.jpg' %}" class="news-image">
            </a>
            <div>
                <h1 class="news-title" data-translation-key="homeNews10Title">
                    Scientific-Practical Conference Organized by the Georgian Reproductive and Sexual Health Association
                </h1>
                <p class="news-text" data-translation-key="homeNews10Paragraph">
                    The Georgian Reproductive and Sexual Health Association successfully organized a scientific-practical conference dedicated to the topic:🔹  'Disorders of Sexual Development: Innovations in Diagnosis and Treatment'
                </p>
            </div>
        </div>
    
        <div class="news-container" onclick="window.location.href=`{% url 'news11' %}`;" style="cursor: pointer;">
            <a href="{% url 'news11' %}">
                <img src="{% static 'blog/images/8-11.jpg' %}" class="news-image">
            </a>
            <div>
                <h1 class="news-title" data-translation-key="homeNews11Title">
                    Participation of the Georgian Reproductive and Sexual Health Association in the 21st World Congress of Gynecological Endocrinology
                </h1>
                <p class="news-text" data-translation-key="homeNews11Paragraph">
                    From May 8-11, 2024, the 21st World Congress of Gynecological Endocrinology was held in Florence, Italy, bringing together leading scientists and experts to discuss groundbreaking advancements in the field. The Georgian Reproductive and Sexual Health Association was prominently represented at the congress, with Prof. Elene Asanidze and Prof. J. Kristesashvili presenting a highly acclaimed research report:🔹 'The Relationship Between Homocysteine Levels, Insulin Resistance, and MTHFR Gene Polymorphism in Patients with Polycystic Ovary Syndrome and Different Pregnancy Outcomes.'
                </p>
                </div>
        </div>
    
        <div class="news-container" onclick="window.location.href=`{% url 'news12' %}`;" style="cursor: pointer;">
            <a href="{% url 'news12' %}">
                <img src="{% static 'blog/images/universemeeting.jpg' %}" id="news16image" class="news-image">
            </a>
            <div>
                <h1 class="news-title" data-translation-key="homeNews12Title">
                    A productive and insightful meeting was held in Tbilisi, Georgia, at the Reproductive Medicine Center 'Universe', bringing together experts in reproductive health to discuss advancements in the management of recurrent pregnancy loss (RPL).
                </h1>
                <p class="news-text" data-translation-key="homeNews12Paragraph">
                    The session featured a comprehensive review of updated international guidelines from leading organizations, including:📌 ESHRE (European Society of Human Reproduction and Embryology)📌 ACOG (American College of Obstetricians and Gynecologists)📌 ASRM (American Society for Reproductive Medicine)📌 RCOG (Royal College of Obstetricians and Gynaecologists)📌 FIGO (International Federation of Gynecology and Obstetrics)
                </p>
            </div>
        </div>

        

</div>

<div class="body-container">
    <div class="news-container" onclick="window.location.href=`{% url 'news13' %}`;" style="cursor: pointer;">
        <a href="{% url 'news13' %}">
            <img src="{% static 'blog/images/doctorOC.jpg' %}" class="news-image">
        </a>
        <div>
            <h1 class="news-title" data-translation-key="homeNews13Title">
                Professor Jenaro Kristesashvili Honored with the 'Doctor of the Century' Award
            </h1>
            <p class="news-text" data-translation-key="homeNews13Paragraph">
                The Georgian Reproductive and Sexual Health Association proudly announces that Professor Jenaro Kristesashvili, Co-founder and Chief Expert of the Association and Professor of Obstetrics and Gynecology at the Faculty of Medicine of Ivane Javakhishvili Tbilisi State Medical University, has been awarded the prestigious 'Doctor of the Century' title.
            </p>
            </div>
    </div>

    <div class="news-container" onclick="window.location.href=`{% url 'news14' %}`;" style="cursor: pointer;">
        <a href="{% url 'news14' %}">
            <img src="{% static 'blog/images/racxa2.jpg' %}" class="news-image">
        </a>
        <div>
            <h1 class="news-title" data-translation-key="homeNews14Title">
                Board Members of the Georgian Reproductive and Sexual Health Association as Guests on the TV/Program 'Personal Doctor'
            </h1>
            <p class="news-text" data-translation-key="homeNews14Paragraph">
                The Georgian ReproductiveThis and Sexual Health Association is pleased to announce that its board members were featured as guests on the television program 'Personal Doctor' with Mari Malazonia, where they discussed the topic:🔹 Sexual Development Disorders
            </p>
            </div>
    </div>

    <div class="news-container" onclick="window.location.href=`{% url 'news15' %}`;" style="cursor: pointer;">
        <a href="{% url 'news15' %}">
            <img src="{% static 'blog/images/controlstudy.jpg' %}" class="news-image">
        </a>
        <div>
            <h1 class="news-title" data-translation-key="homeNews15Title">
                Scientific Paper Co-Authored by Members of the Georgian Reproductive and Sexual Health Association Published in a High-Impact Journal
            </h1>
            <p class="news-text" data-translation-key="homeNews15Paragraph">
                The Georgian Reproductive and Sexual Health Association is pleased to announce the publication of a significant scientific article in the International Journal of Reproductive BioMedicine, a PubMed Central- and Scopus-indexed journal with an impact factor of 1.424. 📌 Title of the Article:🔹 'Hyperhomocysteinemia and Pregnancy Outcomes in Women with Polycystic Ovary Syndrome: A Case-Control Study.'
            </p>
            </div>
    </div>

    <div class="news-container" onclick="window.location.href=`{% url 'news16' %}`;" style="cursor: pointer;">
        <a href="{% url 'news16' %}">
            <img src="{% static 'blog/images/19th.jpg' %}" class="news-image">
        </a>
        <div>
            <h1 class="news-title" data-translation-key="homeNews16Title">
                Participation of the Georgian Reproductive and Sexual Health Association in the 19th World Congress of the International Academy of Human Reproduction
            </h1>
            <p class="news-text" data-translation-key="homeNews16Paragraph">
                The Georgian Reproductive and Sexual Health Association is pleased to announce the publication of a significant scientific article in the International Journal of Reproductive BioMedicine, a PubMed Central- and Scopus-indexed journal with an impact factor of 1.424. 📌 Title of the Article:🔹 'Hyperhomocysteinemia and Pregnancy Outcomes in Women with Polycystic Ovary Syndrome: A Case-Control Study.'
            </p>
        </div>
    </div>


</div>

<div class="body-container">


    <div class="news-container" onclick="window.location.href=`{% url 'news17' %}`;" style="cursor: pointer;">
        <a href="{% url 'news17' %}">
            <img id="racxa4" src="{% static 'blog/images/racxa4.jpeg' %}" class="news-image">
        </a>
        <div>
            <h1 class="news-title" data-translation-key="homeNews17Title">
                Scientific Paper Co-Authored by Members of the Georgian Reproductive and Sexual Health Association Published in a High-Impact Journal
            </h1>
            <p class="news-text" data-translation-key="homeNews17Paragraph">
                The medical journal “Medical Times” published an article by the chief expert and cofounding professor of the Georgian Reproductive and Sexual Health Association, Jenaro Kristesashvili, entitled “Chromosomal Abnormalities in Couples with Recurrent Pregnancy Losses.
            </p>
            </div>
    </div>

    <div class="news-container" onclick="window.location.href=`{% url 'news18' %}`;" style="cursor: pointer;">
        <a href="{% url 'news18' %}">
            <img src="{% static 'blog/images/racxa3.jpeg' %}" class="news-image">
        </a>
        <div>
            <h1 class="news-title" data-translation-key="homeNews18Title">
                Participation of the Georgian Reproductive and Sexual Health Association in the Third International Conference 'Infertility 35+'
            </h1>
            <p class="news-text" data-translation-key="homeNews18Paragraph">
                On September 18-19, 2022, the Third International Conference 'Infertility 35+' brought together leading experts in reproductive medicine to discuss the latest advancements in infertility management.
            </p>
            
        </div>
    </div>


{% endblock content %}