{% extends "blog/base.html" %}
{% load static %}
{% block content %}

<div class="newsdiv">
    <h1 data-translation-key="news14Title">
        Board Members of the Georgian Reproductive and Sexual Health Association as Guests on the TV/Program 'Personal Doctor'
    </h1>

    <p data-translation-key="news14Paragraph1">
        The Georgian ReproductiveThis and Sexual Health Association is pleased to announce that its board members were featured as guests on the television program 'Personal Doctor' with Mari Malazonia, where they discussed the topic:🔹 Sexual Development Disorders
    </p>

    <p data-translation-key="news14Paragraph2">
        The program featured renowned experts in reproductive medicine and genetics:📌 Professor Jenaro Kristesashvili –MD, Obstetrician-Gynecologist, Geneticist, Doctor of Reproductive Medicine, Deputy Director of the Reproductive Medicine Center (RMC) 'Univers', and co-founder and Board Member of the Georgian Reproductive and Sexual Health Association.
    </p>

    <p data-translation-key="news14Paragraph3">
        📌 Dr. Mariam Chipashvili – Doctor of Genetics, Doctor of Medicine, and Board Member of the Georgian Reproductive and Sexual Health Association. The discussion provided expert insights into the diagnosis, management, and latest scientific advancements in the field of sexual development disorders, addressing both clinical and genetic perspectives. The Georgian Reproductive and Sexual Health Association remains committed to public education, professional dialogue, and advancing awareness in reproductive and sexual health.
    </p>
</div>

<hr>
<hr>

{% endblock content %}
