{% extends "blog/base.html" %}
{% load static %}
{% block content %}

<div class="newsdiv">
    <h1 data-translation-key="news24Title">
        Conference Highlight
    </h1>

    <p data-translation-key="news24Paragraph1">
        From May 9–12, 2025, the 34th United Multidisciplinary Scientific Conference, "International Standards of Clinical Practice," organized by the Association of Medical Education and Evidence-Based Medicine, was held.
        <br><br>🧑‍🎓 Representing the Georgian Association of Reproductive and Sexual Health, Dr. Khatuna Sokhadze — Obstetrician-Gynecologist, PhD, and Assistant Professor at European University — delivered a  presentation on: “The Role of Progesterone in Disorders of Reproductive System Function.”
         <br><br>🧑‍🎓Her talk sparked insightful discussion among participants, emphasizing the importance of hormone-based approaches in reproductive health.
    </p>
</div>

<hr>
<hr>

{% endblock content %}
