{% extends "blog/base.html" %}
{% load static %}
{% block content %}

<div class="newsdiv">
    <h1 data-translation-key="news9Title">
        Publication by the Georgian Reproductive and Sexual Health Association in an International Scientific Journal
    </h1>

    <p data-translation-key="news9Paragraph1">
        The Georgian Reproductive and Sexual Health Association is pleased to announce the publication of a scientific article in the esteemed international journal Gynecological and Reproductive Endocrinology & Metabolism.
    </p>

    <p data-translation-key="news9Paragraph2">
        📌 Title of the Article: 'Premature Ovarian Insufficiency in an Adolescent Girl with 48, XXXX Karyotype: Case Presentation and Literature Review.' 📌 Authors: Jenaro Kristesashvili, Elene Asanidze, Nino Sigua, Mariam Chipashvili, Ekaterine Kurua This paper presents an exceptionally rare case of premature ovarian insufficiency (POI) in an adolescent with a 48, XXXX karyotype, contributing valuable insights to the existing medical literature. Given the rarity of this chromosomal abnormality, this case report and literature review provide crucial information for clinicians and researchers in the field of reproductive endocrinology.
    </p>

    <p data-translation-key="news9Paragraph3">
        🔗 To access the full article, visit: Gynecological and Reproductive Endocrinology & Metabolism The Georgian Reproductive and Sexual Health Association remains committed to advancing scientific research and contributing to global knowledge in reproductive and endocrine health.
    </p>
</div>
    <p>
        DOI: 10.53260/grem.234015
    </p>
<hr>
<hr>

{% endblock content %}
