{% extends "blog/base.html" %}
{% load static %}
{% block content %}

<div class="newsdiv">
    <h1 data-translation-key="news13Title">
        Professor Jenaro Kristesashvili Honored with the 'Doctor of the Century' Award
    </h1>

    <p data-translation-key="news13Paragraph1">
        The Georgian Reproductive and Sexual Health Association proudly announces that Professor Jenaro Kristesashvili, Co-founder and Chief Expert of the Association and Professor of Obstetrics and Gynecology at the Faculty of Medicine of Ivane Javakhishvili Tbilisi State Medical University, has been awarded the prestigious 'Doctor of the Century' title.
    </p>

    <p data-translation-key="news13Paragraph2">
        This esteemed recognition highlights Professor Kristesashvili’s outstanding contributions to the advancement of reproductive medicine in Georgia, as well as his dedication to scientific research, medical education, and professional development. Additionally, the award acknowledges his active role in supporting and promoting scientific and educational initiatives within World Pharma, further strengthening collaboration between academia and the pharmaceutical sector.
    </p>

    <p data-translation-key="news13Paragraph3">
        This award serves as a testament to his lifelong commitment to medical excellence, innovation, and the advancement of reproductive healthcare in Georgia and beyond.
    </p>
</div>

<hr>
<hr>

{% endblock content %}
