{% extends "blog/base.html" %}
{% load static %}
{% block content %}

<div class="newsdiv">
    <h1 data-translation-key="news20Title">
        Georgian Reproductive and Sexual Health Association on the World Stage! 🌍
    </h1>

    <p data-translation-key="news20Paragraph1">
        The 16th Congress of the European Society of Gynecology was held in Riga, Latvia, from March 19–22, 2025, bringing together global experts in gynecology and reproductive health.
    </p>
    <p data-translation-key="news20Paragraph2">
        Prof. Elene Asanidze, President of the Georgian Reproductive and Sexual Health Association, was personally invited by Prof. Andrea Genazzani, President of the ESG, to deliver a keynote lecture on “Precocious Puberty in Girls: Challenges and Consequences.” The lecture was met with high praise and sparked an engaging professional discussion. Prof. Asanidze also chaired the symposium “Sexuality: To Better Understand How to Communicate.”
        In recognition of her contributions, Prof. Asanidze has been invited to serve as a keynote speaker at the prestigious 2025/2026 World Congresses (COGI and Global OB).
    </p>    
    <p data-translation-key="news20Paragraph3">
        Members of the Association, Shorena Gogokhia and Nana Tabukashvili, also actively participated in the congress, contributing to high-level discussions and global networking.
👏 The Georgian Reproductive and Sexual Health Association proudly continues to strengthen Georgia's presence in the international reproductive health arena—deepening global cooperation and advancing reproductive health both at home and worldwide.
    </p>
</div>

<hr>
<hr>

<div class="newsdivimage">
    <img src="{% static 'blog/images/eleneoncongress.jpeg' %}" id="news20pic1">
    <img src="{% static 'blog/images/congress2.jpeg' %}" id="pic3">
    <img src="{% static 'blog/images/eleneoncongress2.jpeg' %}">
</div>

{% endblock content %}
