{% extends "blog/base.html" %}
{% load static %}
{% block content %}

<h1 id="for_patients_h1" data-translation-key="ForPatientsMainH1">
    Overall knowledge for Patients!
</h1>

<hr>
<hr>

<div class="body-container">
    <div class="news-container">
        <div>
            <a href="{% url 'for_patients1' %}">
                <h1 class="news-title" data-translation-key="ForPatients1Title">
                    Androgen Insensitivity Syndrome (AIS): A Rare Condition of Sexual Development
                </h1>
                <p class="news-text" data-translation-key="ForPatients1Paragraph">
                    Androgen Insensitivity Syndrome (AIS)is a rare genetic condition where the body’s response to male hormones (androgens) is either reduced or entirely absent. This condition occurs in individuals with a male chromosome pattern (46,XY) and leads to the development of female physical traits despite the presence of male genetic makeup.
                    This condition arises from genetic mutations that impair the function of androgen receptors. Although the body produces normal or even elevated levels of androgens, the cells fail to recognize these signals, leading to incomplete or absent male physical development.
                </p>
            </a>
        </div>
    </div>
    
    <div>
        <a href="{% url 'for_patients2' %}">
            <h1 class="news-title" data-translation-key="ForPatients2Title">
                Intimate Hygiene for Girls: Essential Tips for Parents
            </h1>
            <p class="news-text" data-translation-key="ForPatients2Paragraph">
                As parents, ensuring your little one’s intimate hygiene is key to their health and comfort. Follow these simple yet crucial recommendations to keep your child happy and healthy: During Bathing: Wash your hands thoroughly with soap before starting the hygiene routine. Always bathe your child from front to back, directing the water flow from the pubis to the tailbone to prevent infections. Use your hands instead of a sponge for gentle cleaning. Choose liquid, pH-neutral baby soap without fragrances or dyes. Use soap sparingly and avoid applying it to the inner surface of the labia to prevent irritation.
            </p>
        </a>
    </div>

    <div>
        <a href="{% url 'for_patients3' %}">
            <h1 class="news-title" data-translation-key="ForPatients3Title">
                Labia Fusion (Labia Adhesions) in Girls: What Every Parent Should Know
            </h1>
            <p class="news-text" data-translation-key="ForP3Paragraph1">
                Labia adhesions occur when the labia minora partially or completely stick together. This condition is most common in girls aged 3 months to 6 years and can lead to discomfort, especially during urination. Symptoms to Watch For: Crying during urination Changes in urine flow direction Skin irritation in the genital area Often, no complaints with partial adhesions—found during routine check-ups.
            </p>
        </a>
    </div>

    <div>
        <a href="{% url 'for_patients4' %}">
            <h1 class="news-title" data-translation-key="ForPatients4Title">
                Recurrent pregnancy losses
            </h1>
            <p class="news-text" data-translation-key="ForP4Paragraph1">
                Recurrent Pregnancy Loss (RPL) is defined as the spontaneous loss of two or more consecutive clinically confirmed pregnancies [ESHRE 2022]. A single pregnancy loss is considered an isolated event. Spontaneous abortion occurs in up to 90% of cases during early pregnancy (before 12 weeks). Pregnancy loss occurring before the 22nd week is classified as a late miscarriage. Preterm birth refers to delivery occurring between the 22nd and 37th weeks of gestation, whereas delivery after the 37th week is considered full-term Causes of Recurrent Pregnancy Loss: Embryonic pathology (life-incompatible anatomical anomalies, genetic mutations, and chromosomal abnormalities) Maternal pathology. Male factor. In up to 50% of cases, the underlying cause of RPL remains unidentified (idiopathic RPL)
            </p>
        </a>
    </div>
</div>

<hr>
<hr>
{% endblock content %}