{% extends "blog/base.html" %}
{% load static %}
{% block content %}

<div class="newsdiv">
    <h1 data-translation-key="news8Title">
        Participation of the Georgian Reproductive and Sexual Health Association in the European Congress of Pediatric and Adolescent Gynecology (EURAPAG)
    </h1>

    <p data-translation-key="news8Paragraph1">
        From June 4-8, 2024, the 16th Congress of the European Association of Pediatric and Adolescent Gynecology (EURAPAG) was held in Thessaloniki, Greece, bringing together leading experts, researchers, and clinicians specializing in pediatric and adolescent gynecology, as well as related medical disciplines.
        At this esteemed event, Professor Elene Asanidze presented a research report titled:🔹 "Polycystic Ovarian Syndrome in Adolescents: Challenges and Possible Solutions."
    </p>

    <p data-translation-key="news8Paragraph2">
        The diagnosis and management of polycystic ovarian syndrome (PCOS) in adolescents remains a significant clinical challenge. The research presented under the auspices of Professor Genaro Kristesashvili and Professor Elene Asanidze, founders of the Georgian Reproductive and Sexual Health Association, received special recognition from the congress organizers and participants. The findings sparked important discussions, leading to the initiation of collaborative scientific projects with internationally renowned experts.
    </p>

    <p data-translation-key="news8Paragraph3">
        The participation of Georgian researchers at EURAPAG 2024 underscores Georgia’s growing contributions to the advancement of pediatric and adolescent gynecology. Continued efforts in this field are essential for improving clinical care and research in reproductive health.
In recognition of their contributions, Professors Genaro Kristesashvili and Elene Asanidze were honored with the prestigious book "Children’s and Adolescent Gynecology," authored by distinguished scientists Dei M. and Bruni V.
The Georgian Reproductive and Sexual Health Association remains committed to scientific excellence, international collaboration, and the advancement of pediatric and adolescent gynecology.
    </p>
</div>

<hr>
<hr>

<div class="newsdivimage">
    <img src="{% static 'blog/images/EleneEU1.jpg' %}">
    <img src="{% static 'blog/images/EleneEU2.jpg' %}">
    <img src="{% static 'blog/images/EleneEU3.jpg' %}">
</div>

{% endblock content %}
