{% extends "blog/base.html" %}
{% load static %}
{% block content %}

<div class="newsdiv">
    <h1 data-translation-key="news7Title">
        Georgian Reproductive and Sexual Health Association’s Participation in the 5th International Scientific Conference “Infertility 35+”
    </h1>

    <p data-translation-key="news7Paragraph1">
        On September 21-22, 2024, the 5th International Scientific Conference “Infertility 35+” was held in Tbilisi, bringing together experts in reproductive medicine to discuss the latest advancements in infertility research and treatment.
At the conference, Professor Fnaro Kristesashvili, Chief Expert and Founder of the Georgian Reproductive and Sexual Health Association, presented a report on:
🔹 "Premature Ovarian Failure Due to X Chromosome Anomalies."
    </p>

    <p data-translation-key="news7Paragraph2">
        His presentation generated significant interest from the audience, as it incorporated the latest scientific findings and guideline recommendations. Most notably, Professor Kristesashvili shared extremely rare and complex clinical cases from his own practice, providing valuable insights into the diagnosis and management of these conditions.
    </p>

    <p data-translation-key="news7Paragraph3">
        The conference materials were later published in the scientific journal Medical Times (Special Edition, MAGAZINE N3). Additionally, in the same issue, Professor Elene Asanidze's research paper, titled:
🔹 "Association of PAI-1 and MTHFR Gene Polymorphisms with Recurrent Pregnancy Loss in Women with Polycystic Ovary Syndrome,"
was also published, further showcasing the important contributions of Georgian researchers in the field of reproductive medicine.
The Georgian Reproductive and Sexual Health Association remains dedicated to advancing scientific research and participating in international discussions to improve reproductive healthcare.
    </p>
</div>

<hr>
<hr>

{% endblock content %}
