{% extends "blog/base.html" %}
{% load static %}
{% block content %}

<div class="newsdiv">
    <h1 data-translation-key="news17Title">
        Scientific Paper Co-Authored by Members of the Georgian Reproductive and Sexual Health Association Published in a High-Impact Journal
    </h1>

    <p data-translation-key="news17Paragraph1">
        The medical journal “Medical Times” published an article by the chief expert and cofounding professor of the Georgian Reproductive and Sexual Health Association, Jenaro Kristesashvili, entitled “Chromosomal Abnormalities in Couples with Recurrent Pregnancy Losses.
    </p>

    <p data-translation-key="news17Paragraph2">
        According to the results of his own research presented in the article, the frequency of chromosomal abnormalities in couples with two or more first-trimester spontaneous abortions (pregnancy losses) is 8.2%. Among them, balanced translocations were the most common in men with subfertility, which indicates the feasibility of karyotyping such men to determine the causes of recurrent pregnancy losses.
    </p>

</div>

<hr>
<hr>

{% endblock content %}
