{% extends "blog/base.html" %}
{% load static %}
{% block content %}

<div class="newsdiv">
    <h1 data-translation-key="news4Title">
        Scientific Paper Co-Authored by Members of the Georgian Reproductive and Sexual Health Association Published in a High-Impact Journal
    </h1>

    <p data-translation-key="news4Paragraph1">
        The Georgian Reproductive and Sexual Health Association proudly announces another significant achievement— the publication of a scientific article in a highly esteemed British journal. The article, titled "Complexities of Complete Androgen Insensitivity Syndrome: Insights from a Case Report and Literature Review," has been published in the Journal of International Medical Research (SAGE), further contributing to the advancement of medical knowledge in the field.        </p>

    <p data-translation-key="news4Paragraph2">
        This research was conducted under the leadership of Professor Elene Asanidze, President of the Georgian Reproductive and Sexual Health Association, with co-authorship from esteemed members of the Association.

        </p>
    <p data-translation-key="news4Paragraph3">
        📌 Authors: Elene Asanidze, Jenaro Kristesashvili, Aleksandre Asanidze, Giorgi Gaphrindashvili, Besik Asanidze, Ana Jibladze, Ritika Bhatia
    </p>  

    <p data-translation-key="news4Paragraph4">
        Notably, this study was carried out with the active involvement and co-authorship of Aleksandre Asanidze, a medical student at Tbilisi State Medical University (TSMU), and Ritika Bhatia, a medical student at Geomed University. Their contributions highlight the growing role of young researchers in advancing scientific research.
This publication underscores the Georgian Reproductive and Sexual Health Association’s commitment to excellence in medical research, scientific collaboration, and the dissemination of knowledge in reproductive and sexual health.
🔗 To access the full article, visit: <a href="DOI: 10.1177/03000605241300058">DOI: 10.1177/03000605241300058</a>
The Association remains dedicated to supporting and promoting high-quality research that enhances global understanding and clinical approaches to reproductive health disorders.
    </p>
</div>

<hr>
<hr>



{% endblock content %}
