{% extends "blog/base.html" %}
{% load static %}
{% block content %}

<div class="newsdiv">
    <h1 data-translation-key="news12Title">
        A productive and insightful meeting was held in Tbilisi, Georgia, at the Reproductive Medicine Center 'Universe', bringing together experts in reproductive health to discuss advancements in the management of recurrent pregnancy loss (RPL).
    </h1>

    <p data-translation-key="news12Paragraph1">
        The session featured a comprehensive review of updated international guidelines from leading organizations, including:📌 ESHRE (European Society of Human Reproduction and Embryology)📌 ACOG (American College of Obstetricians and Gynecologists)📌 ASRM (American Society for Reproductive Medicine)📌 RCOG (Royal College of Obstetricians and Gynaecologists)📌 FIGO (International Federation of Gynecology and Obstetrics)
    </p>

    <p data-translation-key="news12Paragraph2">
        The meeting was led by Professor Elene Asanidze, who provided an in-depth analysis of the latest evidence-based recommendations and facilitated a stimulating discussion among participants.
    </p>

    <p data-translation-key="news12Paragraph3">
        This exchange of knowledge highlights the commitment to professional development and international collaboration in reproductive healthcare, contributing to improved clinical approaches and patient outcomes.
    </p>
</div>

<hr>
<hr>

{% endblock content %}
