{% extends "blog/base.html" %}
{% load static %}
{% block content %}

<div class="newsdiv">
    <h1 data-translation-key="news1Title">
        Participation of the Georgian Reproductive and Sexual Health Association in the Theoretical-Practical Conference of Students
    </h1>

    <p data-translation-key="news1Paragraph1">
        On December 13, 2024, the Theoretical-Practical Conference of Students was held at Geomed University, bringing together students from diverse academic disciplines, including medicine, dentistry, rehabilitation, and management. The conference provided a platform for scholarly exchange, allowing participants to present their research findings, engage in critical discussions, and contribute to an interactive academic environment.
        At the conclusion of the event, a distinguished jury evaluated the presentations and recognized outstanding contributions. The Georgian Reproductive and Sexual Health Association is pleased to announce that Aleksandre Asanidze, Head of the Georgian and Foreign Student Relations Service at the Association and a medical student at Tbilisi State Medical University, was awarded First Place for Best Speaker. His presentation, "Comparative Analysis of Bariatric Surgery Methods: Vertical Gastrectomy and Gastric Bypass," provided a comprehensive evaluation of surgical techniques for obesity management, offering insights into their efficacy, benefits, and potential complications.
    </p>

    <p data-translation-key="news1Paragraph2">
        The Association extends its sincere congratulations to Aleksandre Asanidze on this remarkable achievement. His success highlights the significance of rigorous academic inquiry and evidence-based practice in medical research. The Association remains committed to fostering student engagement in scholarly and scientific initiatives that promote professional excellence and innovation in healthcare.
    </p>
</div>

<hr>
<hr>

<div class="newsdivimage">
    <img src="{% static 'blog/images/aleksandre2.jpeg' %}" id="pic2">
    <img src="{% static 'blog/images/aleksandre3.jpeg' %}" id="pic3">
    <img src="{% static 'blog/images/aleksandre1.jpeg' %}">
</div>

{% endblock content %}
