{% extends "blog/base.html" %}
{% load static %}
{% block content %}

<div class="newsdiv">
    <h1 data-translation-key="Events1Title">
        The Georgian Association of Reproductive and Sexual Health is pleased to announce a training session on June 20-21, 2025
    </h1>

    <p data-translation-key="Events1Paragraph">
        The Georgian Association of Reproductive and Sexual Health is pleased to announce a training session on June 20-21, 2025, focusing on the topic:
        <br>"Modern Approaches to the Management of Estrogen Deficiency Conditions."
Participants will earn 12 continuing education credits upon successful completion of the program.
The distinguished speakers for this training include:
<br>🧑‍🎓👩‍⚕️Prof. Jenaro Kristesashvili
<br>🧑‍🎓👩‍⚕️Prof. Manana Urjumelashvili
<br>🧑‍🎓👩‍⚕️Prof. Elene Asanidze
<br>This session is specifically designed for certified healthcare professionals in the following specialties:
<br>👩‍⚕️ Obstetrics and Gynecology
<br>👩‍⚕️ Reproductive Medicine
<br>👩‍⚕️ Family Medicine
<br> The training will take place at the New Vision University Training Center.
<br> For registration and additional information, please contact us at: <br>Phone: 599109195 <br>Email: asanidzeelene@yahoo.com
    </p>
</div>

<hr>
<hr>
{% endblock content %}