{% extends "blog/base.html" %}
{% load static %}
{% block content %}

<div class="newsdiv">
    <h1 data-translation-key="Events1resTitle">
        The Georgian Association of Reproductive and Sexual Health held a Continuing Medical Education (CME) training on June 20–21, 2025, on the topic:
    </h1>

    <p data-translation-key="Events1resParagraph">
        The Georgian Association of Reproductive and Sexual Health held a Continuing Medical Education (CME) training on June 20–21, 2025, on the topic:
"Modern Principles for the Management of Estrogen Deficiency Conditions."
Participants received 12 credit points.
<br>Training Speakers:
<br>Prof. Jenaro Kristashvili
<br>Prof. Elene Asanidze
<br>Prof. Manana Urjumelashvili
<br>The training was intended for certified physicians in the following specialties:
<br>👩‍⚕️ Obstetrics and Gynecology
<br>👩‍⚕️ Reproductive Medicine
<br>👩‍⚕️ Family Medicine
<br>📅 The next training will be held on July 4–5.
<br>    <br>📞 For registration and additional information, <br>please contact: 599109195.
    </p>
</div>

<hr>
<hr>

<div class="newsdivimage">
    <img id="jenaroevents" src="{% static 'blog/images/kaibiwi.jpg' %}">
    <img src="{% static 'blog/images/eleniko.jpg' %}">
    <img src="{% static 'blog/images/mananana.jpg' %}">
</div>
{% endblock content %}
