{% extends "blog/base.html" %}
{% block content %}
    <h1 id="membershipTitle" data-translation-key="membershipTitle">
        Membership Options
    </h1>
    
    <div class="membership-container">
        <h2 data-translation-key="standardTitle">Standard Membership</h2>
        <p data-translation-key="standardEligibility">
            • Eligibility: Open to all individuals with a higher medical education, including doctors of any specialty, medical professors, students, residents, doctoral students, and nurses.
        </p>
        <h3 data-translation-key="standardBenefits">Benefits:</h3>
        <p data-translation-key="standardBenefit1">• Regular updates on reproductive and sexual health news via email.</p>
        <p data-translation-key="standardBenefit2">• Access to monitoring the association's activities.</p>
        <p data-translation-key="standardBenefit3">• Direct access to the association's guidelines, protocols, and patient information.</p>
        <p data-translation-key="standardBenefit4">• Notifications about events organized by the association.</p>

        <h2 data-translation-key="affiliateTitle">Affiliate Membership</h2>
        <p data-translation-key="affiliateEligibility">
            • Eligibility: Same as standard membership.
        </p>
        <h3 data-translation-key="affiliateBenefits">Benefits:</h3>
        <p data-translation-key="affiliateBenefit1">• Includes all benefits of standard membership.</p>
        <p data-translation-key="affiliateBenefit2">• Opportunities to participate actively in association activities, such as translating medical literature, organizing events, etc.</p>
        <p data-translation-key="affiliateBenefit3">• Guaranteed attendance at events with a 20% discount on paid events.</p>

        <h2 data-translation-key="honoraryTitle">Honorary Membership</h2>
        <p data-translation-key="honoraryEligibility">
            • Eligibility: Awarded to individuals who have made significant contributions to the field and are nominated by existing members.
        </p>
        <h3 data-translation-key="honoraryBenefits">Benefits:</h3>
        <p data-translation-key="honoraryBenefit1">• Includes all benefits of affiliate membership.</p>
        <p data-translation-key="honoraryBenefit2">• Opportunity to initiate and implement personal projects within the association.</p>
        <p data-translation-key="honoraryBenefit3">• Guaranteed attendance/participation at all association events with a 50% discount on paid events.</p>
        <p data-translation-key="honoraryBenefit4">• Prominent recognition on the association’s website.</p>

        <h2 data-translation-key="remoteTitle">Remote Friendly Membership</h2>
        <p data-translation-key="remoteEligibility">
            • Eligibility: Available to individuals outside the medical field who have an interest in reproductive and sexual health education.
        </p>
        <h3 data-translation-key="remoteBenefits">Benefits:</h3>
        <p data-translation-key="remoteBenefit1">• Receives updates on the latest advancements in reproductive and sexual health via email.</p>
        <p data-translation-key="remoteBenefit2">• Access to monitor the activities of the association.</p>

        <h2 data-translation-key="membershipFeesTitle">Membership Fees</h2>
        <p data-translation-key="membershipFees">
            • All memberships are free until 2025, except for Honorary Membership.
        </p>
        <p data-translation-key="honoraryFee">• Honorary Membership Fee: 200 GEL per year until 2025.</p>
    </div>

    <h2 id="becomemember">
        <span data-translation-key="becomeMemberText">Become a member by</span>
        <a href="https://docs.google.com/forms/d/e/1FAIpQLSeL1tqTMQK4uOLzr41c_nTQ8iwxbv78gfSZANJInnHC6xIKLg/viewform?usp=header" class="clickable-link" data-translation-key="clickHere">clicking this</a>.
    </h2>
    
    

    <footer data-translation-key="membershipFooter">
        Join today and contribute to advancing reproductive and sexual health!
    </footer>

{% endblock content %}