{% extends "blog/base.html" %}
{% load static %}
{% block content %}

<div class="body-container">

    <div class="news-container">
        <a href="{% url 'news3' %}">
            <img id="news3homepic" src="{% static 'blog/images/news3.jpg' %}" class="news-image">
        </a>
        <div>
            <h1 class="news-title" data-translation-key="homeNews3Title">
                Manuscript Published by Members of the Georgian Reproductive and Sexual Health Association in an Esteemed Elsevier Journal
            </h1>
            <p class="news-text" data-translation-key="homeNews3Paragraph">
                The Georgian Reproductive and Sexual Health Association is pleased to announce the publication of a highly significant research article in a prestigious Elsevier journal, co-authored by distinguished members of the Association:
        </div>
    </div>
    
    <div class="news-container">
        <a href="{% url 'news4' %}">
            <img src="{% static 'blog/images/journal.jpg' %}" class="news-image">
        </a>
        <div>
            <h1 class="news-title" data-translation-key="homeNews4Title">
                Scientific Paper Co-Authored by Members of the Georgian Reproductive and Sexual Health Association Published in a High-Impact Journal
            </h1>
            <p class="news-text" data-translation-key="homeNews4Paragraph">
                The Georgian Reproductive and Sexual Health Association proudly announces another significant achievement— the publication of a scientific article in a highly esteemed British journal. The article, titled "Complexities of Complete Androgen Insensitivity Syndrome: </div>
    </div>
</div>



<div class="body-container">

    <div class="news-container">
        <a href="{% url 'news6' %}">
            <img src="{% static 'blog/images/sex assignment.jpg' %}" class="news-image">
        </a>
        <div>
            <h1 class="news-title" data-translation-key="homeNews6Title">
                Scientific Paper Co-Authored by Members of the Georgian Reproductive and Sexual Health Association Published in a High-Impact Journal 
            </h1>
            <p class="news-text" data-translation-key="homeNews6Paragraph">
                The Georgian Reproductive and Sexual Health Association is proud to announce the publication of a significant original research article in a high-impact, SCOPUS- and WOS-indexed journal.
                📌 Title of the Article: " Sex assignment and psychosexual peculiarities of individuals with different forms of androgen insensitivity syndrome: A qualitative study "
         </div>
    </div>

    <div class="body-container">
        <div class="news-container">
            <a href="{% url 'news9' %}">
                <img src="{% static 'blog/images/48krypt.jpg' %}" class="news-image">
            </a>
            <div>
                <h1 class="news-title" data-translation-key="homeNews9Title">
                    Publication by the Georgian Reproductive and Sexual Health Association in an International Scientific Journal
                </h1>
                <p class="news-text" data-translation-key="homeNews9Paragraph">
                    The Georgian Reproductive and Sexual Health Association is pleased to announce the publication of a scientific article in the esteemed international journal Gynecological and Reproductive Endocrinology & Metabolism.
                </p>
                </div>
        </div>   

</div>

<div class="body-container">

    <div class="news-container">
        <a href="{% url 'news15' %}">
            <img src="{% static 'blog/images/controlstudy.jpg' %}" class="news-image">
        </a>
        <div>
            <h1 class="news-title" data-translation-key="homeNews15Title">
                Scientific Paper Co-Authored by Members of the Georgian Reproductive and Sexual Health Association Published in a High-Impact Journal
            </h1>
            <p class="news-text" data-translation-key="homeNews15Paragraph">
                The Georgian Reproductive and Sexual Health Association is pleased to announce the publication of a significant scientific article in the International Journal of Reproductive BioMedicine, a PubMed Central- and Scopus-indexed journal with an impact factor of 1.424. 📌 Title of the Article:🔹 'Hyperhomocysteinemia and Pregnancy Outcomes in Women with Polycystic Ovary Syndrome: A Case-Control Study.'
            </p>
            </div>
    </div>


</div>

<div class="body-container">


    <div class="news-container">
        <a href="{% url 'news17' %}">
            <img id="racxa4" src="{% static 'blog/images/racxa4.jpeg' %}" class="news-image">
        </a>
        <div>
            <h1 class="news-title" data-translation-key="homeNews17Title">
                Scientific Paper Co-Authored by Members of the Georgian Reproductive and Sexual Health Association Published in a High-Impact Journal
            </h1>
            <p class="news-text" data-translation-key="homeNews17Paragraph">
                The medical journal “Medical Times” published an article by the chief expert and cofounding professor of the Georgian Reproductive and Sexual Health Association, Jenaro Kristesashvili, entitled “Chromosomal Abnormalities in Couples with Recurrent Pregnancy Losses.
            </p>
            </div>
    </div>

</div>

{% endblock content %}