{% extends "blog/base.html" %}
{% load static %}
{% block content %}

<div class="newsdiv">
    <h1 data-translation-key="ForPatients5Title">
        The Role of Natural Killer Cells in Physiological and Pathological Pregnancy 
    </h1>

    <p data-translation-key="ForP5Paragraph1">
        Since the early pregnancy, major adaptations occur in the maternal immune system to tolerate semi-allogeneic fetus (with 50% of foreign paternal antigens) from maternal immune attack, while actively protect it from different pathogens. This unique immunological dialogue between mother and fetus is recognized as an “Immunological paradox of pregnancy”. The fine balance of different immune cells at the maternal fetal interface is the prerequisite of successful pregnancy, while their disturbed number and proportions is associated with various complications of pregnancy.
        Natural killer (NK) cells are the key players of our innate immunity. They are in peripheral blood (pNK) and in uterus as well (uNK). They differ functionally and phenotypically. In endometrium they represent the most abundant population of leucocytes (≈70%). There are main subtypes of uNK cells:
        
        <br>🔹 Regulatory (pro-fertile) CD56+ uNK cells play pivotal role in normal processes of endometrial receptivity, implantation/placentation, development of adequate uterine vasculature, maintenance of immune homeostasis in endometrium and finally results in successful outcome of pregnancy.
        <br>🔹Cytotoxic CD16+ and CD57+ uNK- are cells with high cytotoxic potential. They contain big amount of cytotoxic granules (perforins, granzymes) and are responsible for lytic ability and cytotoxicity of NK cells. By the opinion of many researchers, this exact immunophenotype is involved in pathogenesis of recurrent pregnancy loss (RPL).
        The increased number and over-activation of cytotoxic uNK cells result in disturbed processes of endometrial receptivity, decidualization, development of non-adequate uterine vasculature. This finally leads to various complications of pregnancy, such as pre-eclampsia, fetal growth restriction, stillbirth, spontaneous and recurrent pregnancy losses, recurrent implantation failure after IVF, as well as with infertility. Results of many studies indicate that endometrial immune disbalance is behind more than 50% of unexplained RPL.
        <br>Pre-conceptional immune diagnostics is of great importance in order to find out potential immunological causes of unexplained reproductive disorders and select specific subgroup of high-risk patients with RPL, which benefit more with tailored immunological treatments.
        Diagnostics of pNK cells in fresh blood is performed with Flow Cytometry, which gives the information about the number and activation status of different subtypes of NK and other immune cells. 
        <br>Immunohistochemistry is used for the diagnostics of endometrial uNK cells which is regarded as gold standard to detect the number and localization of uNK cells across the whole endometrium. For this purpose, a small piece of endometrium (3 mm) is needed to be taken with pipelle catheter in mid-luteal phase of menstrual cycle. This is ambulatory procedure and does not need anesthesia.
        Results of investigations is evaluated by the expert, which is specialized in reproductive immunology. Infertility doctor is responsible for the individualized treatment and follow-up.
        Doctor gynecologist Maia Chiokadze conducted her doctoral research work in “Placenta Lab” University Hospital Jena, Germany (DAAD-Rustaveli joint fellowship in 2017, 2018 yy), where she also investigated a uterine biopsy sample of Georgian population under the supervision of renowned expert in reproductive immunology prof. Udo Markert. Currently we still continue scientific collaboration with our German colleagues and conduct new joint projects.
        <br>P +995 599211001
        <br>Prof. Maia Chiokadze MD, PhD,
    </p>
</div>

<hr>
<hr>

{% endblock content %}
