{% extends "blog/base.html" %}
{% load static %}
{% block content %}

<div class="newsdiv">
    <h1 data-translation-key="ForPatients3Title">
        Labia Fusion (Labia Adhesions) in Girls: What Every Parent Should Know
    </h1>

    <p data-translation-key="ForP3Paragraph1">
        Labia adhesions occur when the labia minora partially or completely stick together. This condition is most common in girls aged 3 months to 6 years and can lead to discomfort, especially during urination. Symptoms to Watch For: Crying during urination Changes in urine flow direction Skin irritation in the genital area Often, no complaints with partial adhesions—found during routine check-ups.
    </p>

    <p data-translation-key="ForP3Paragraph2">
        Causes of Adhesions: Hormonal changes (low estrogen levels) Inflammatory genital diseases Poor or excessive hygiene Allergies and infections Long-term diaper use When to Consult a Pediatric Gynecologist: If you notice 'overgrown' labia or any symptoms above, visit a pediatric gynecologist immediately. Diagnosis involves a gentle external examination, urine tests, and possibly an ultrasound.
    </p>

    <p data-translation-key="ForP3Paragraph3">
        Treatment: First, address infections or underlying conditions. Estrogen-containing creams (prescribed by a specialist) are used carefully on the fusion zone. Avoid force or unqualified treatments to prevent relapses and trauma. Surgery is rarely needed and only for severe cases. Key Tips for Parents: Prioritize proper hygiene—gentle, not excessive! Avoid self-treatment or unqualified advice. Regular pediatric check-ups can help catch issues early. Timely diagnosis and treatment ensure a happy, healthy childhood.  <br><br>For more advice, contact: Professor Elene Asanidze, Obstetrician-Gynecologist, Pediatric Gynecologist
    </p>
</div>

<hr>
<hr>

{% endblock content %}
